{% extends 'stock/base.html' %}

{% block title %}Dashboard{% endblock %}
{% block dashboard %} id="activated" {% endblock %}
{% block body %}

<div class="col-lg-9"><br>
        {% include 'stock/tickeriter.html' %}
          <div class="card mt-4">
            <div class="card-body">
              <h4>Welcome</h4>
              <h3 class="card-title">Dhinchak Pooja</h3>
              <p class="card-text">This is your dashboard, it provides you with most of the information you'll need to use our services which are the best. Baki toh hum kya hi bole, chacha vidhayak hai humare ;)</p>

              <p class="text-muted">  - Team Stock Juaari</p>
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
                <p style="position: absolute ; left: 50%; transform: translate(-50%,0); display: block"> About the developer </p><br>
            </div>
            <div class="card-body">
              <h5>Khush Chopra</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <hr>
              <h5>Raghav Kabra</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <hr>
              <h5>Suyash Shukla</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <hr>
              <h5>Saurabh Chauhan</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            </div>
          </div>
          <!-- /.card -->

        </div>


{% endblock %}